<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>后台管理系统</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="proscenium/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="proscenium/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="proscenium/css/chocolat.css" type="text/css" media="screen">
    <link href="proscenium/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="proscenium/css/flexslider.css" type="text/css" media="screen" property="" />
    <link rel="stylesheet" href="proscenium/css/jquery-ui.css" />
    <link href="proscenium/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="proscenium/js/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link href="/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css">
    <script src="/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap-table/bootstrap-table.js"></script>
    <!-- 这个汉化包可选，但是必须在bootstrap-table.js后面哦 -->
    <script src="/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="jqueryform.js" type="text/javascript"></script>


</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    后台管理系统
                </a>
            </div>

            <ul class="nav">
                <li >
                    <a href="/dashboard">
                        <i class="ti-panel"></i>
                        <p>概览</p>
                    </a>
                </li>
                <li >
                    <a href="/user">
                        <i class="ti-user"></i>
                        <p>员工管理</p>
                    </a>
                </li>
                <li >
                    <a href="/table">
                        <i class="ti-view-list-alt"></i>
                        <p>用户管理</p>
                    </a>
                </li>
                <li >
                    <a href="/typography">
                        <i class="ti-text"></i>
                        <p>订单管理</p>
                    </a>
                </li>
                <li >
                    <a href="/icons">
                        <i class="ti-pencil-alt2"></i>
                        <p>房间管理</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/maps">
                        <i class="ti-map"></i>
                        <p>财务管理</p>
                    </a>
                </li>
                <li>
                    <a href="/notifications">
                        <i class="ti-bell"></i>
                        <p>设备管理</p>
                    </a>
                </li>
                <li >
                    <a href="/upgrade">
                        <i class="ti-export"></i>
                        <p>配备</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Maps</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-panel"></i>
								<p>Stats</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

		<div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <div class="self">
                            <table  id="table_money"></table>
                        </div>
                        <form enctype="multipart/form-data" method="post" action="/upload">
                            文件：<input type="file" name="file"/>
                            <input type="submit" value="上传"/>
                        </form>
                        <a href="/file/download/小组规约.docx">下载</a>
                    </div>
				</div>
			</div>
		</div>
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <div class="self">
                            <table id="table_file"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>
<!-- contact form -->
<script src="proscenium/js/jqBootstrapValidation.js"></script>
<script src="proscenium/js/contact_me.js"></script>
<script src="proscenium/js/jquery-ui.js"></script>
<script>
    $(function() {
        $( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
    });
    $(function my() {

        var t = $("#table_money").bootstrapTable({
            url: 'http://localhost:8080/money/page',
            method: 'get',
            dataType: "json",
            striped: true,//设置为 true 会有隔行变色效果
            undefinedText: "空",//当数据为 undefined 时显示的字符
            pagination: true, //分页
            clickEdit:true,
            showRefresh: true,
            // paginationLoop:true,//设置为 true 启用分页条无限循环的功能。
            showToggle: "true",//是否显示 切换试图（table/card）按钮
            showColumns: "true",//是否显示 内容列下拉框
            pageNumber: 1,//如果设置了分页，首页页码
            // showPaginationSwitch:true,//是否显示 数据条数选择框
            pageSize: 10,//如果设置了分页，页面数据条数
            pageList: [5, 10, 20, 40],	//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
            paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<
            paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>
            // singleSelect: false,//设置True 将禁止多选
            search: true, //显示搜索框
            data_local: "zh-US",//表格汉化
            sidePagination: "server", //服务端处理分页
            queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                return {//这里的params是table提供的
                    offset: params.offset,//从数据库第几条记录开始
                    limit: params.limit//找多少条
                };
            },
            idField: "id",//指定主键列
            columns: [
                {
                    title: 'id',//表的列名
                    field: 'id',//json数据中rows数组中的属性名
                    align: 'center'//水平居中
                },
                {
                    title: '收入来源',
                    field: 'resourse',
                    align: 'center'
                },
                {
                    title: '账单时间',
                    field: 'time',
                    align: 'center'
                },
                {
                    //EMAIL
                    title: '金额',
                    field: 'money',
                    align: 'center',
                    formatter: function (value, row, index) {//自定义显示，这三个参数分别是：value该行的属性，row该行记录，index该行下标
                        if (row.money >0) {
                            return [
                                '<span class="label label-success">'+row.money+'</span>'

                            ].join("")
                        } else {
                            return [
                                '<span class="label label-danger">'+row.money+'</span>'

                            ].join("")
                        }
                    }
                },
                {
                    //部门名字
                    title: '备注',
                    field: 'remarks',//可以直接取到属性里面的属性，赞
                    align: 'center'
                },
                {
                    title: '金额总数',
                    field: 'totalmoney',
                    align: 'center',
                    /*formatter: function (value, row, index) {//自定义显示，这三个参数分别是：value该行的属性，row该行记录，index该行下标
                        if(row.payif==1){
                            return[
                                '<span class="label label-success">已付款</span>'

                            ].join("")
                        }
                        else{
                            return[
                                '<span class="label label-danger">未付款</span>'

                            ].join("")
                        }
                    }*/

                },
                {
                    field:'button',
                    title: '操作',
                   /* events:operateEvents,
                    formatter:AddFunctionAlty,*/
                }

            ]
        });

    });
    $(function my() {

        var t = $("#table_file").bootstrapTable({
            url: 'http://localhost:8080/file/page',
            method: 'get',
            dataType: "json",
            striped: true,//设置为 true 会有隔行变色效果
            undefinedText: "空",//当数据为 undefined 时显示的字符
            pagination: true, //分页
            clickEdit:true,
            showRefresh: true,
            // paginationLoop:true,//设置为 true 启用分页条无限循环的功能。
            showToggle: "true",//是否显示 切换试图（table/card）按钮
            showColumns: "true",//是否显示 内容列下拉框
            pageNumber: 1,//如果设置了分页，首页页码
            // showPaginationSwitch:true,//是否显示 数据条数选择框
            pageSize: 10,//如果设置了分页，页面数据条数
            pageList: [5, 10, 20, 40],	//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
            paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<
            paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>
            // singleSelect: false,//设置True 将禁止多选
            search: true, //显示搜索框
            data_local: "zh-US",//表格汉化
            sidePagination: "server", //服务端处理分页
            queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                return {//这里的params是table提供的
                    offset: params.offset,//从数据库第几条记录开始
                    limit: params.limit//找多少条
                };
            },
            idField: "id",//指定主键列
            columns: [
                {
                    title: 'id',//表的列名
                    field: 'id',//json数据中rows数组中的属性名
                    align: 'center'//水平居中
                },
                {
                    title: '文件名',
                    field: 'filename',
                    align: 'center'
                },
                {
                    title: '文件路径',
                    field: 'filepath',
                    align: 'center'
                },
                {
                    field:'button',
                    title: '操作',
                    events:operateEvents,
                    formatter:AddFunctionAlty,
                }

            ]
        });

    });
    function AddFunctionAlty(value,row,index) {
        return[
            '<button id="downloadFile" type="button" class="btn btn-success">下载</button>'

        ].join("")
    }

    window.operateEvents={
        "click #downloadFile":function (e,value,row,index) {
            /*$.ajax({
                url: 'file/download/'+row.filename,
                data: "dd",
                success: "dd",
                dataType: "json"
            });*/
            // var url="file/download/"+row.filename
            var url="/loging"
            var request=new XMLHttpRequest();
            request.open("get",url);
            request.send();
            alert("点击");
            /*alert("点击")
            var url="file/download/"+row.filename
            var request=new XMLHttpRequest();
            request.open("GET",url);*/

            /*if(row.roomtype=='豪华单人房')
            {
                var  roomMoney=1000
            }
            if(row.roomtype=='豪华双人房'){

                roomMoney=2000
            }else
            {
                roomMoney=500
            }
            $.ajax({
                url: '/order/update/'+row.id+'/'+roomMoney,
                data: "dd",
                success: "dd",
                dataType: "json"
            });*/
            $('#table_server').bootstrapTable('refresh')


        },

    }
</script>


    <!--   Core JS Files   -->

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio.js"></script>


    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="assets/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>

</html>
